th, td {
  border: 1px solid black;
/*   width: 100%; */
/*     table-layout:fixed; */
/* text-align: center; */
/* font-weight: bold; */
}

div{
	
}

body{
	background-color: #EDF1FF;
}

nav{
}

video {
   filter: brightness(40%);
}

table{
	margin-bottom: 4px;
}

.btn{
	font-weight: bold;
}

.recence{
	background-color: #DCDCDC;
}

.divrace{
	 border: solid 2px black; 
	 padding: 0px; 
	 background-color: #F5FFFA;
}

.borderbold{
	border-style: solid 4px black;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

#parente button{
    background-color: white;
    margin-left: 2px;
    margin-bottom: 2px;
}

#parente div, #parente button{
    float: left;
    line-height: 22px;
    margin-right: 6px;
}
.clear{
    clear: both;
}

.dropdownborder{
	
	border: solid 2px black;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
/* @media (max-width: 750px) { */
/*     #background-video { display: none; } */
/*     body { */
/*       background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat; */
/*       background-size: cover; */
/*     } */
/* } */




/*                           COLORS */
/* ////////////////////////////////////////////////////////////// */

.horsecolor{
	background-color: #A52A2A;
	color: white;
}
.entcolor{
	background-color: #1E90FF;
}
.jockcolor{
    background-color: #FFA500;
}
.couplecolor{
	background-color: #FFB6C1;
}
.chronoscolor{
    background-color: white;
}
/* .pronocolor{ */
/* 	background-color: 	#FF69B4; */
/* } */



