<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link th:href="@{css/style.css}" rel="stylesheet" />
<!--     <link th:href="@{css/nav.css}" rel="stylesheet" /> -->
<!--         <link th:href="@{css/bounce.css}" rel="stylesheet" /> -->
    
    


    <title></title>
  </head>
  <body>
  
  <video th:fragment="background-video" id="background-video" autoplay loop muted poster="">
  <source src="vid/face-time.mp4" type="video/mp4">
</video>

	<div th:fragment="header" class="header" style="padding-bottom: 15px;">
	    <div style="margin-right: 20px; padding-right: 20px" class="">
      <h4 style="text-shadow: 3px 3px 4px #000000; text-align: left;">
                 <img style="width: 75px; height: 80px; box-shadow: 4px 4px 8px #000000; border-style: solid; border-radius: 50%; border-color: gold;" th:src="@{/img/horsefire.jpg}" alt="logo" /> 
      
        <a href="/" class="" style="font-weight: bold; font-style:oblique; color: white; border: 3px solid gold; border-radius:50px; background-color: red; padding: 5px;">
<!--            <img style="width: 75px; height: 80px; box-shadow: 4px 4px 8px #000000; border-style: solid; border-radius: 50%; border-color: gold;" th:src="@{/img/horsefire.jpg}" alt="logo" />  -->
           <strong>Sam'Tay Infos</strong> 
		</a>		
       </h4>
      </div>
<!-- 		<h1 class="shadowtext text-danger"> -->
<!-- 			Stock anti cor<img class="sizelittlelogo" -->
<!-- 				th:src="@{/images/coro2.jpg}" alt="logo" />navirus -->
<!-- 		</h1> -->

            <a th:if="${user.lastName == 'Milou'}" sec:authorize="isAuthenticated()" class="text-dark welcomeright" 
			style=" float: right; margin-left: 10px; " href="/users/userinfos">
				<i data-feather="heart"></i>
			</a>
			
			 <a th:if="${user.lastName != 'Milou'}" sec:authorize="isAuthenticated()" class="text-dark welcomeright" 
			style=" float: right; margin-left: 10px; " href="/users/userinfos">
				<i data-feather="user"></i>
			</a>
			
		<p th:if="${user != null}"
			sec:authorize="isAuthenticated()" class="welcomeright text-dark"
			th:utext="'Bonjour ' + ${#strings.toUpperCase(user.firstName)}"></p>
			
				</div>



	 <div th:fragment="footer" class="footer-basic">
        <footer>
            <div class="social"><a href="/doigt"><i class="icon ion-social-instagram"></i></a><a href="/doigt"><i class="icon ion-social-snapchat"></i></a><a href="/doigt"><i class="icon ion-social-twitter"></i></a><a href="/doigt"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/doigt">Accueil</a></li>
                <li class="list-inline-item"><a href="/doigt">Services</a></li>
                <li class="list-inline-item"><a href="/doigt">A propos</a></li>
                <li class="list-inline-item"><a href="/doigt">Termes</a></li>
                <li class="list-inline-item"><a href="/doigt">Politique de confidentialité</a></li>
            </ul>
            <p class="copyright">TayInfos © 2021</p>
        </footer>
    </div>
  
      
     <nav style=" opacity: 1;" th:fragment="nav" class=" navbar navbar-expand-lg navbar-light bg-danger">

    <div style="margin-right: 20px; padding-right: 20px" class="">
      <h4 style="text-shadow: 3px 3px 4px #000000;">
        <a href="/" class="" style="text-align: center; font-weight: bold; font-style:oblique; color: white;">
<!--            <img style="width: 55px; height: 60px; box-shadow: 4px 4px 8px #000000; border-style: solid; border-radius: 50%; border-color: gold;" th:src="@{/img/horsefire.jpg}" alt="logo" />  -->
           <img style="width: 55px; height: 60px; box-shadow: 4px 4px 8px #000000; border-style: solid; border-radius: 50%; border-color: gold;" th:src="@{/img/star.jpg}" alt="logo" /> 


<!--            Sam'Tay Infos  -->
            Prono Stars 
               
		</a>		
       </h4>
      </div>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  
  
    <ul class="navbar-nav ml-auto">
    
<!--           <li class="nav-item active" style="border: solid gold; border-radius: 15px; margin-right: 20px"> -->
          <li class="nav-item active" style="border-left:1px solid gold; border-right:1px solid gold; padding-right: 10px; padding-left: 10px;">

           
        <a class="nav-link text-white" href="/upload" style="text-align: center; font-size: 1.23em; font-weight: bold; text-shadow: 3px 3px 4px #000000;" id="" role="" data-toggle="" aria-expanded="">
          Importer donn&eacute;es
        </a>
    
      </li>
   
           <li class="nav-item dropdown" style="border-right:1px solid gold; padding-right: 10px; padding-left: 10px;">
           
        <a class="nav-link dropdown-toggle text-white" href="#" style="text-align: center; font-size: 1.23em; font-weight: bold; text-shadow: 3px 3px 4px #000000;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
<!--                  <a class="nav-link dropdown-toggle text-white" href="/doigt" style="text-align: center; font-size: 1.23em; font-weight: bold; text-shadow: 3px 3px 4px #000000;" id="navbarDropdownMenuLink" role="button" data-toggle="" aria-expanded="false"> -->
         
          Réunions du jour
        </a>
        <div style="padding: 5px;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         
         <div th:each="r : ${reunionsofday}" style="text-align: center;">
        
        <a type="" class="text-dark btn btn-outline-info" style="font-weight: bold; margin-bottom: 3px;" th:text="${r}" th:href="@{/reunion-infos?jour={jour}&reunion={reunion}(jour=${journav}, reunion=${r})}"></a>
        
        </div>
        
<!--           <form style="margin-bottom: 5px;" method="" th:action="@{/redirect-to-reunion-infos}" enctype="multipart/form-data"> -->

<!--                             <div class=""> -->
<!--                             <input type="hidden" name="jour" th:value="${journav}"></input> -->
<!-- 								<label class="text-dark" style="font-weight: bold;">Choisir une R&eacute;union:</label><br>  -->
<!-- 								<select class="form-control form-control-user" name="reunion" required="required"> -->
<!-- 									<option value="">--Choisir--</option> -->

<!-- 									<option th:each="r : ${reunionsofday}" th:value="${r}" -->
<!-- 										th:text="${r}"></option> -->
<!-- 								</select> -->
<!-- 							</div> -->
							
<!-- 							    <button type="submit" class="btn btn-small btn-primary">Acc&eacute;der</button>					 -->
<!--                    </form> -->
         
        </div>
      </li>
      
            <li class="nav-item dropdown" style="border-right:1px solid gold; padding-right: 10px; padding-left: 10px;">
<!--       <h4> -->
        <a class="nav-link dropdown-toggle text-white" href="#" style="text-align: center; font-size: 1.23em; font-weight: bold; text-shadow: 3px 3px 4px #000000;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
<!--                 <a class="nav-link dropdown-toggle text-white" href="/doigt" style="text-align: center; font-size: 1.23em; font-weight: bold; text-shadow: 3px 3px 4px #000000;" id="navbarDropdownMenuLink" role="button" data-toggle="" aria-expanded="false"> -->
        
          Dates
        </a>
<!--         </h4> -->
        <div style="padding: 5px;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        
        <div th:each="d : ${datesnav}" style="text-align: center;">
        
        <a class="text-dark btn btn-outline-info" style="font-weight: bold; margin-bottom: 3px;" th:text="${d}" th:href="@{/day-infos?jour={jour}(jour=${d})}"></a>
        
        </div>
   
        
        </div>
      </li>
             
        
    </ul>
    
    <ul style="border-left:1px solid gold; border-right:1px solid gold; padding-right: 10px; padding-left: 10px;" class="navbar-nav ml-auto">
    
          <li class="nav-item active">
          <h5>
         <a sec:authorize="isAnonymous()" class="nav-link text-white" href="/login" style="text-align: center; font-weight: bold; text-shadow: 3px 3px 4px #000000;">Connexion/inscription</a>	
          <a sec:authorize="isAuthenticated()" class="nav-link text-white" href="/logout" style="text-align: center; font-weight: bold; text-shadow: 3px 3px 4px #000000;">Déconnexion</a>	
        
          </h5>
        </li>
    
    </ul>
    
    
  </div>
</nav>



    <!-- Optional JavaScript; choose one of the two! -->
    
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    
  </body>
</html>