<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
<!--     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link th:href="@{css/style.css}" rel="stylesheet" />
        <link th:href="@{css/footer.css}" rel="stylesheet" />
    
</head>
<body>
        		<div th:replace="_nav-components :: nav">...</div>



<!-- <div class="container-fluid" style="margin-top: 120px;"> -->
<!-- 	<div class="row"> -->
<!-- 		<div class="col-md-12"> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-md-4"> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-4" style=" border: 1px solid black; padding: 15px;"> -->
				
<!-- 				<form method="POST" th:action="@{/upload-csv-file}" enctype="multipart/form-data"> -->
<!--     <div class="form-group mt-3"> -->
<!--         <label style="font-weight: bold;" for="file">Importer un nouveau fichier .CSV</label> -->
<!--         <input type="file" name="file" class="form-control-file" id="file" accept=".csv"> -->
<!--     </div> -->

<!--      <button onclick="spinnerFunction()" class="btn btn-primary" type="submit"> -->
<!--   <span id="mySpinner" class="" role="status" aria-hidden="true"></span> -->
<!--   <span id="myTextToHide">Importer</span> -->
<!--     <span id="myTextToShow" style="display: none">Importation en cours...</span> -->
<!-- </button> -->
                       
<!-- </form> -->

<!-- <div th:if="${messagesuccess}" th:text="${messagesuccess}" class="alert alert-success" role="alert"> -->
<!-- </div> -->
<!-- <div th:if="${messageerror}" th:text="${messageerror}" class="alert alert-danger" role="alert"> -->
<!-- </div> -->
<!-- <div th:if="${messageempty}" th:text="${messageempty}" class="alert alert-warning" role="alert"> -->
<!-- </div> -->

<!-- 				</div> -->
<!-- 				<div class="col-md-4"> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->
<!-- <br> -->



<div class="container-fluid" style="margin-top: 120px;">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4" style=" border: 1px solid black; padding: 15px;">
				
				<form method="POST" th:action="@{/upload-json-data-from-url}" enctype="multipart/form-data">
    <div class="form-group mt-3">
        <label style="font-weight: bold;" for="url">Importer les donn&eacute;es</label>
      
        <input type="date" name="jour" class="form-control-file" id="">
<!--         <input type="text" name="url" class="form-control-file" id="url"> -->

    </div>
<!--     <button type="submit" class="btn btn-primary">Envoyer</button> -->
 <button onclick="spinnerFunction2()" class="btn btn-primary" type="submit">
  <span id="mySpinner2" class="" role="status" aria-hidden="true"></span>
  <span id="myTextToHide2">Importer</span>
    <span id="myTextToShow2" style="display: none">Importation en cours...</span>
</button>
                       
</form>

<!-- <div th:if="${messagesuccess}" th:text="${messagesuccess}" class="alert alert-success" role="alert"> -->
<!-- </div> -->
<!-- <div th:if="${messageerror}" th:text="${messageerror}" class="alert alert-danger" role="alert"> -->
<!-- </div> -->
<!-- <div th:if="${messageempty}" th:text="${messageempty}" class="alert alert-warning" role="alert"> -->
<!-- </div> -->

				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>
</div>
<br>



<!-- <div class="container-fluid"> -->
<!-- 	<div class="row"> -->
<!-- 		<div class="col-md-12"> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-md-4"> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-4" style=" border: 1px solid black; padding: 15px;"> -->
				
<!-- 				<form method="POST" th:action="@{/update-paris-turf-json-data-from-url}" enctype="multipart/form-data"> -->
<!--     <div class="form-group mt-3"> -->
<!--         <label style="font-weight: bold;" for="url">Actualiser les classements via une URL (JSON)</label> -->
<!--         <input type="text" name="url" class="form-control-file" id="url"> -->

<!--     </div> -->
<!--  <button onclick="spinnerFunction3()" class="btn btn-primary" type="submit"> -->
<!--   <span id="mySpinner3" class="" role="status" aria-hidden="true"></span> -->
<!--   <span id="myTextToHide3">Importer</span> -->
<!--     <span id="myTextToShow3" style="display: none">Importation en cours...</span> -->
<!-- </button> -->
                       
<!-- </form> -->


<!-- 				</div> -->
<!-- 				<div class="col-md-4"> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->
<!-- <br> -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4" style=" border: 1px solid black; padding: 15px;">
				
				<form method="POST" th:action="@{/upload-rapports-json-data-from-url}" enctype="">
    <div class="form-group mt-3">
        <label style="font-weight: bold;" for="url">Importer les rapports</label>
<!--         <input type="file" name="file" class="form-control-file" id="file" accept="*.json"> -->
        <input type="date" name="jour" class="form-control-file" id="">

    </div>
<!--     <button type="submit" class="btn btn-primary">Envoyer</button> -->
 <button onclick="spinnerFunction4()" class="btn btn-primary" type="submit">
  <span id="mySpinner4" class="" role="status" aria-hidden="true"></span>
  <span id="myTextToHide4">Importer</span>
    <span id="myTextToShow4" style="display: none">Importation en cours...</span>
</button>
                       
</form>

<!-- <div th:if="${messagesuccess}" th:text="${messagesuccess}" class="alert alert-success" role="alert"> -->
<!-- </div> -->
<!-- <div th:if="${messageerror}" th:text="${messageerror}" class="alert alert-danger" role="alert"> -->
<!-- </div> -->
<!-- <div th:if="${messageempty}" th:text="${messageempty}" class="alert alert-warning" role="alert"> -->
<!-- </div> -->

				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>
</div>


<!-- <div class="container-fluid"> -->
<!-- 	<div class="row"> -->
<!-- 		<div class="col-md-12"> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-md-4"> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-4" style=" border: 1px solid black; padding: 15px;"> -->
				
<!-- 				<form method="POST" th:action="@{/upload-rapports-json-data-from-url-online}" enctype=""> -->
<!--     <div class="form-group mt-3"> -->
<!--         <label style="font-weight: bold;" for="url">Importer les rapports (En ligne)</label> -->
<!-- <!--         <input type="file" name="file" class="form-control-file" id="file" accept="*.json"> --> -->
<!--         <input type="date" name="jour" class="form-control-file" id=""> -->

<!--     </div> -->
<!-- <!--     <button type="submit" class="btn btn-primary">Envoyer</button> --> -->
<!--  <button onclick="spinnerFunction4()" class="btn btn-primary" type="submit"> -->
<!--   <span id="mySpinner4" class="" role="status" aria-hidden="true"></span> -->
<!--   <span id="myTextToHide4">Importer</span> -->
<!--     <span id="myTextToShow4" style="display: none">Importation en cours...</span> -->
<!-- </button> -->
                       
<!-- </form> -->

<!-- <!-- <div th:if="${messagesuccess}" th:text="${messagesuccess}" class="alert alert-success" role="alert"> --> -->
<!-- <!-- </div> --> -->
<!-- <!-- <div th:if="${messageerror}" th:text="${messageerror}" class="alert alert-danger" role="alert"> --> -->
<!-- <!-- </div> --> -->
<!-- <!-- <div th:if="${messageempty}" th:text="${messageempty}" class="alert alert-warning" role="alert"> --> -->
<!-- <!-- </div> --> -->

<!-- 				</div> -->
<!-- 				<div class="col-md-4"> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->


				<div th:replace="_nav-components :: footer">...</div>


	<script type="text/javascript" th:src="@{/js/test.js}"></script>
		<script type="text/javascript" th:src="@{/js/style.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</body>
</html>